.main {
    left:0;
    display:flex;
    margin:20px;
    max-width:1000px;
}

.box {
    display:inline-block;

    margin-left:10px;
    margin-right:10px;

    text-align:left;
    color:white;

    min-height:100px;
    width:100%;

    padding:10px;
    box-shadow: 0 0 2px;

    background-color:rgb(29, 29, 29)
}

p {
    color: white;
    max-width:1000px;
}

.project_thumb {
    float:left; 
    margin-right:10px;
    border-radius: 10px;
}

.project_thumb img {
    border-radius: 50%;
    box-shadow: 0 0 4px;
    color:black;
}

.project_div {
    margin-top:10px;
    padding:4px;
    display:flex;
    align-items:center;
    border-radius: 10px;
    transition: background-color 0.05s;
    opacity: 0;
    animation-fill-mode: both;
    animation-duration: 0.25s;
    animation-name: fadein;
}

@keyframes fadein {
    from {
        opacity:0;
    }

    to {
        opacity:1;
    }
}

.project_div_tag {
    color:grey;
}

.project_div:hover {
    background-color: rgb(46, 50, 87);
    transition: background-color 0.05s;
}

#techstack {
    width:100%;
    display: inline-block;
    align-items:center;
    height:100px;
}

#techstack img {
    min-width:20px;
    max-width:50px;
    object-fit: cover;

    bottom:0%;
    
    transition: 0.1s;

    position: relative;
    display: inline-block;

    border-radius:50%;
}

#techstack img:hover {
    bottom:10%;
    border-radius:10%;

    transition: 0.1s;
}


a:link, a:visited {
    color:rgb(0, 208, 255);
    text-decoration: none;
}

html {
    background-color: rgb(0, 0, 0);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1, h2 {
    text-align: center;
    color:white;
}