@font-face {
  font-family: OpenSans;
  src: url("assets/OpenSans-Regular.ttf");
}

html {

    font-family: OpenSans;
    text-align: justify;

}

body {
    background-color: rgb(241, 241, 241);
    color: rgb(0, 0, 0);
    
    margin-top: 50px;

    margin-left: auto;
    margin-right: auto;
    width: 800px;
    max-width: 80%;

    min-height: 100px;

    padding: 50px;
    padding-top: 25px;
    padding-bottom: 25px;

    box-shadow: 2px 2px 5px black;
}

hr {
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
}

a {
    text-decoration: none;
}

.button-link {
    display: inline;
}

.button-link a {
    background-color: 
    rgb(212, 212, 212); 
    text-align:center;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;   
    margin-left: 0px; 
    display:inline;
}

.button-link a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.text_content {
    padding-right: 15px;
}

.project {
    width: 100%;
    overflow: auto;
    margin: 10px;
    margin-top: 20px;
}

.project .thumb {
    display: inline-block;
    width: 20%;
    max-width: 125px;
    vertical-align: top;
    border: double;
}

.thumb img {
    max-width: 100%;
    max-height: 100%;
}

.project .desc {
    display: inline-block;
    margin-left: 20px;
    width: 70%;
}

.align-left {
	float: left;
}
.align-right {
	float: right;
}